.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #0575E6;
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);
  background: linear-gradient(to right, #021B79, #0575E6);
}

.bingo-holder {
  min-height: 50vh;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: #34495e;
    width: 100%;
    margin: 0px auto;
    max-width: 1200px;
}

.button-start {
  max-width: 200px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: white;
  color: black;
  font-size: 19px;
  cursor: pointer;
  display: block;
  margin: 0px auto;
  margin-bottom: 30px;
}

.drum-and-numbers {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.generated-tickets {
  max-width: 550px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
}